aniso8601==9.0.1
click==8.0.4
dataclasses==0.8
flake8==5.0.4
Flask==2.0.3
Flask-RESTful==0.3.10
importlib-metadata==4.2.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mccabe==0.7.0
pycodestyle==2.9.1
pyflakes==2.5.0
pytz==2024.1
six==1.16.0
typing-extensions==4.1.1
Werkzeug==2.0.3
zipp==3.6.0
